.main {
  display: flex;
  padding: 6rem;
  min-height: 100vh;
  background-color: gainsboro;
}

.rowDivs {
  display: flex;
  flex-direction: row;
}

.leftnav {
  height: 100%;
  width: 30%;
  border-color: red;
  border-width: 5px;
  border-style: solid;
}

.rightSection {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.topbar {
  height: 20%;
  width: 100%;
  border-color: blue;
  border-width: 5px;
  border-style: solid;
}

.middleSection {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
}

.leftMiddlebar {
  height: 100%;
  width: 50%;
  border-color: green;
  border-width: 5px;
  border-style: solid;
}

.rightMiddleSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.topMiddlebar {
  height: 100%;
  width: 100%;
  border-color: yellow;
  border-width: 5px;
  border-style: solid;
}

.bottomMiddlebar {
  height: 100%;
  width: 100%;
  border-color: black;
  border-width: 5px;
  border-style: solid;
}